/* Styling for places 7-index */
.places h1 {
	display : block;
	font-size : 30px;
}

.places article {
	display : inline-block;
	width : 390px;
	padding : 20px;
	margin : 20px;
	border : #FF5A5F solid 1px;
	border-radius : 4px;
}

article:nth-child(4) {
	position : relative;
	left : 230px;
}

.places article h2 {
	font-size : 30px;
	text-align : center;
}
